<h1>Edit Guesthouse</h1>

<% if @guesthouse.errors.any? %>
  <p>Check the errors below:</p>
  <ul>
    <% @guesthouse.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>