<h1>My Guesthouse</h1>

<% if @guesthouses.any? %>
  <% @guesthouses.each do |g| %>

    <h2><%= link_to g.brand_name, g %></h2>
    
  <% end %>
<% else %>
  <p>There is no registered guesthouse</p>
  <p><%= link_to 'Register Your Guesthouse', new_guesthouse_path %></p>
<% end %>

